<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    <!-- Link to Google Fonts for Montserrat -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<head>
    <title>Contact</title>
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add any custom styles or links -->
</head>

<body>
    <!-- Include the Navbar Fragment -->
    <div th:replace="~{navbar.html}"></div>
    <!-- Include the Footer Fragment -->
    <div th:replace="~{footer.html}"></div>
</body>
</html>
